<div class="container">
  <header>
    <h1 class="title">{{ title }}</h1>
  </header>
  <main>
    <div class="dots">
      <span class="dot" style="--i:15;"></span>
      <span class="dot" style="--i:19;"></span>
      <span class="dot" style="--i:17;"></span>
      <span class="dot" style="--i:11;"></span>
      <span class="dot" style="--i:12"></span>
      <span class="dot" style="--i:14"></span>
    </div>

      @if (wordOfTheDay$ | async) {
        @let wordOfTheDay = wordOfTheDay$ | async;
        @if (wordOfTheDay)  {
          <app-scroll [wordOfTheDay]="wordOfTheDay"></app-scroll>
        }
      } @else {
        <p class="loading-message">📜 Verba inveniuntur... (Loading...)</p>
      }
  </main>
</div>
