.container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

.word-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-image {
  max-width: 15rem; /* Adjust the max-width to make the image smaller */
  height: auto;
  margin-bottom: 20px;
}

.word-details {
  text-align: center;
}

.word {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 10px;
}

.definition {
  font-size: 1.2em;
  color: #555;
}

.pronunciation,
.origin,
.example,
.synonyms,
.antonyms {
  font-size: 1em;
  color: #333;
  margin-bottom: 5px;
}
