<html>
<div class="container align-content-center">
  <p-menubar [model]="items" />
  <header>
  </header>
  <main>
    <div class="dots">
      <span class="dot" style="--i:15;"></span>
      <span class="dot" style="--i:19;"></span>
      <span class="dot" style="--i:17;"></span>
      <span class="dot" style="--i:11;"></span>
      <span class="dot" style="--i:12"></span>
      <span class="dot" style="--i:14"></span>
    </div>

  </main>

  <div class="pillared-content">
    <router-outlet></router-outlet>
  </div>
</div>

</html>
