.container {
  width: 100%;
  margin: auto;
  padding: 20px;
}



//
//.dots{
//  position: relative;
//  display: flex;
//
//}
//.dots span{
//  z-index: 100;
//  position: relative;
//  width: 10px;
//  height: 10px;
//  background: #fa4b4b;
//  border-radius: 50%;
//  margin: 0 20px;
//  box-shadow: 0 0 10px #ff7f50,
//  0 0 20px #ff6347,
//  0 0 30px #ff4500,
//  0 0 40px #ff6347,
//  0 0 50px #ff7f50,
//  0 0 60px #ff6347,
//  0 0 70px #ff4500,
//  0 0 80px #ff6347;
//  animation: moveUp linear infinite;
//  animation-duration: calc( 100s / var(--i));
//}
//.dots span:nth-child(even){
//  animation-delay: 0.2s;
//  background: #4dcbfa;
//  box-shadow: 0 0 10px #1e90ff,
//  0 0 20px #00bfff,
//  0 0 30px #87cefa,
//  0 0 40px #00bfff,
//  0 0 50px #1e90ff,
//  0 0 60px #00bfff,
//  0 0 70px #87cefa,
//  0 0 80px #00bfff;
//}
//
//@keyframes moveUp{
//  0%{
//    transform: translateY(100vh) scale(0.5);
//  }
//  25%{
//    transform: translateY(75vh) scale(0.7);
//  }
//  50%{
//    transform: translateY(50vh) scale(1.5);
//  }
//  75%{
//    transform: translateY(25vh) scale(0.7);
//  }
//  100%{
//    transform: translateY(-10vh) scale(0.5);
//  }
//}
//
//


