<div class="container">

  <h1 class="title text-center mt-2 p-2">{{ title }}</h1>
  <div class="text-center mb-3 mt-3">
    @if (timerActive$ | async) {
      <p class="timer-message">🕰️ Tempus fugit...{{time}}</p>
      <button class="timer-button" (click)="stopTimer()">Stop Timer</button>
    } @else {
      <button class="timer-button ancient-latin" (click)="toggleTimer(5000)">5 Seconds</button>
      <button class="timer-button ancient-latin" (click)="toggleTimer(10000)">10 Seconds</button>
      <button class="timer-button ancient-latin" (click)="toggleTimer(30000)">30 Seconds</button>
    }
  </div>

  @if (wordOfTheDay$ | async) {
    @let wordOfTheDay = wordOfTheDay$ | async;
    @if (wordOfTheDay)  {
      <app-scroll [wordOfTheDay]="wordOfTheDay"></app-scroll>
    }
  } @else {
    <p class="loading-message">📜 Verba inveniuntur... (Loading...)</p>
  }
</div>
