.favorite-button,
.speech-button {
  font-size: 2rem;
  padding: 8px 12px;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.word-details{
  p{
    transition: transform 0.2s ease-in-out;
  }
  p:hover {
    transform: scale(1.05);
  }
}
